*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.clear-fix{
    clear: both;
}


.section1{
    width: 100%;
    height: 100vh;
    background-image: url(./../imge/slider-02.jpg);
    background-size: cover;
    background-position: center center;
    
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    height: 15%;
    align-items: center;
    

}
.logo{
    width: 40%;
    font-size: 40px;
}
.logo a{
    color: #ff305b;
    text-decoration: none;
}
.menu1{
    width: 40%;

}
.menu1 ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 20px;
}
.menu1 ul li a{
    width: 40%;
    text-decoration: none;
    color: white;
    transition-property: color;
    transition-duration: 1s;
}
.menu1 ul li a:hover{
    color: #ff305b;
}
.home{
    color: #ff305b;
}
.center{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.center h3{
    color: white;
    font-size: 30px;
}
.center h1{
    color:#ff305b;
    font-size: 70px;
    text-transform: capitalize;
}
.center h4{
    color: white;
    font-size: 20px;
}


.section2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    
    
    
}
.part11{
    width: 50%;
    height: 80%;
    padding: 40px;
    transition: all 2s;
    
}


.border{
    border: 10px solid black;
    width: 300px;
    height: 350px;
    padding-left: 20px;
    padding-top: 10px;
    

}

.paert11:hover{
    transform: scale(4);

}

.part12{
    width: 70%;
    height: 80%;
    padding: 40px;
}
.part12 h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.part12 p{
    border-style: dotted;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    
}
.menu2 ul{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
.menu2 ul li{
    list-style: none;
    width: 50%;
}
.btn{
    padding: 10px 30px;
    color: white;
    background-color: #ff305b;
    border: none;
    border-radius: 5px;
}
.section3{
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
    padding: 50px;
}
.section3 h2{
    
    height: 30%;
    text-align: center;
    font-size: 40px;

}

.icons{
    color: #ff305b;
    

}
.center3{
    width: 100%;
    height: 50%;
    display: flex;
    transition-property:background-color ;
    transition-duration: 3s;
}
.center3 div:hover{
    background-color: white;
}
.center3 div{
    transform: translate(20%);
}
.section4{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}
.section4-text{
    width: 30%;
    margin: auto;
}
.section4 ul{
    width: 40%;
    margin: auto;
}
.section4 ul li{
    list-style: none;
}
.section4 ul li a{
    text-decoration: none;
    float: left;
    margin: 10px;
}
.imge41{
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    
    
}
.imge42{
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    margin-top: 30px;
}
.section4 imge41 imge42{
    position: absolute;
    background-color: red;
}
.section5{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #f1f1f1;
    margin-top: 50px;
}
.section7{
    width: 100%;
    height: 100vh;
    margin-top: 30px;
    padding-top: 50px;
    background-color: #f1f1f1;
}
.section7 h2{
    width: 20%;
    margin: auto;
    font-size: 40px;
}
.section7-imge{
    display: flex;
    gap: 20px;
    padding: 30px;
}
.section7-imge img{
    width: 100%;
}
.b{
    background-color: white;
}
.section8{
    width: 100%;
    height: 50vh;
}
.section8 h2{
    width: 20%;
    margin: auto;
}
.input{
    width: 60%;
    margin: auto;
    margin-top: 30px;
    
}
.size{
    padding-right: 50px;
    padding-top: 10px;
}
.btn8{
    width: 10%;
    height: 30px;
    background-color: #ff305b;
    color: #f1f1f1;
    margin:auto;
    border: #f1f1f1;
    border-radius: 5%;    
}
.btn88{
    width: 100%;
    margin: auto;
}




.footer{
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.774);
}
.footer h3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer h3 a{
    text-decoration: none;
    color: #ff305b;
}